#hotels-list {
    display: flex;
    flex-direction: column;
}

#hotels-list .onRow {
    margin-bottom: 24px;
    flex-direction: column;
}

#hotels-list .item {
    flex: 1;
    text-decoration: none;
    display: flex;
    margin-bottom: 10px;
}

#hotels-list .item:hover {
    text-decoration: none;
}

#hotels-list .item .left {
    display: table-cell;
    width: 100%;
}

#hotels-list .item .right {
    min-width: 164px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    border-left: 1px solid #dadada;    
    padding: 0 10px;
}

#hotels-list .content-container {
    border: 1px solid #dadada;
    flex: 1;
}

#hotels-list .hotel-all-detail {
    display: table;
    width: 100%;
}

#hotels-list .item .hotel-adresse {
    color: #9b9b9b;
    font-size: 16px;
    font-weight: normal;
    clear: both;
    margin-bottom: 7px;
}

#hotels-list .item .btn {
    border-width: 1px;
    margin-bottom: 0;
    float: right;
    padding: 0 15px;
    min-width: inherit;
}

#hotels-list .btn:hover {
    color: white;
    background: #824e4e;
}

#hotels-list .item:hover .hotel-photo {
    opacity: .75;
    transition: ease-in-out all 300ms;
    -webkit-transition: ease-in-out all 300ms;
    -moz-transition: ease-in-out all 300ms;
    -ms-transition: ease-in-out all 300ms;
}

#hotels-list .content-container {
    padding: 14px 0px 14px 18px;
}

#hotels-list .hotel-all-detail .hotel_name,
#hotels-list .hotel-all-detail .evaluation,
#hotels-list .hotel-all-detail .option {
    float: left;
}

#hotels-list .hotel-photo {
    overflow: hidden;
    max-width: 170px;
}

#hotels-list .hotel-photo img {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.hotel_name {
    font-family: "dproCondR";
    font-size: 18px;
    color: #824e4e;
    font-weight: bold;
}
#hotels-list .contenus {
    padding-right: 10px;    
}

#hotels-list .item p {
    font-size: 16px;
    line-height: 18px;
    color: #353535
}

#hotels-list .item .stars {
    color: #ff9000;
    font-size: 24px;
    display: flex;
    align-items: center;    
    padding: 4px 12px;
}
#hotels-list .hotel-all-detail .option {
    float: right;
}
#hotels-list .hotel-all-detail .option i {
    float: left;
    display: block;
    max-width: 19px;
    margin-right: 11px;
}

#hotels-list .hotel-all-detail .option i > img {
    display: inline-block;
    width: 100%;
    height: auto;
}

#hotels-list .price-section {
    position: relative;
}

#hotels-list .price-section .price {
    display: block;
    font-size: 30px;
    color: #18b657;
    font-weight: bold;
    margin-bottom: 40px;
}
#hotels-list .price-section .bouton {
    display: block;
    font-size: 14px;
    color: white;
    line-height: 32px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e7bb0b;
    padding-left: 33px;
    margin: 0 10px;
    text-transform: uppercase;
}
#hotels-list .price-section .bouton::before {
    content: "";
    background: #814c4c url(../../assets/images/desk_bell.png) no-repeat center;
    height: 100%;
    width: 24px;
    position: absolute;
    left: 0;
    top:0;

}

/* BOOKING TEMPLATE */

/* BOOKING WIDGET STYLE */

.booking-component #flexi_searchbox #b_searchboxInc #b_searchCheckInDate, #flexi_searchbox #b_searchboxInc #b_searchCheckOutDate {
    float: none;
}
.booking-component .booking-title::after {
    display: none;
}

.booking-component .search-box-title-1 {
    display: none;
}
.booking-component #b_frmInner {
    font-family: 'dproCondR';
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.booking-component #b_frmInner h4 {
    font-family: 'dproCondR';
    font-size: 16px;
}

.booking-component #flexi_searchbox #b_searchboxInc #b_destination {
    width: 100%;
    margin: 0;
    color: #313131;
    padding: 7px 10px !important;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
}

.booking-component #flexi_searchbox #b_searchboxInc .b_submitButton_wrapper .b_submitButton {
    border:none !important;
    border-radius: 5px !important;
    box-shadow:none !important;
    font-family: 'dproCondR';
    font-size: 30px !important;
    padding: 5px 34px;
}
.booking-component #flexi_searchbox #b_searchboxInc .b_submitButton_wrapper .b_submitButton:hover {
    font-size: 36px;
}

.booking-component #flexi_searchbox select {
    padding: 7px 10px !important;
    border-radius: 3px;
    width: 42%!important;
}
.booking-component #b_frmInner input[type="hidden"],
.booking-component #b_logo,
.booking-component #flexi_searchbox #b_searchboxInc #b_flexible_dates {
    display: none;
}

.booking-component #b_searchDest {
    min-width: 100%;
    margin: 0;
}

/* end BOOKING WIDGET STYLE */
.header-callout .booking-component {
    margin-top: -100px;
}
.booking-component {
    max-width: 630px;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 0px 0 10px;
    position: relative;
     box-shadow: 0 0 24px 0px rgba(0, 0, 0, 0.15) !important;
     margin: 0 auto;
     position: absolute;
     top: -200px;
     left: 0;
     right: 0;
     overflow: hidden;
}
#b_searchboxInc{  
     background:#f8f8f8 !important;
}
.b_submitButton_wrapper button {
    width: 84px !important;
    height: 84px !important;
    border-radius: 10px !important;
    background-color: #e7bb0b !important;
    color: white !important;
    border: none !important;
    font-size: 30px !important;
}
.booking-title {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 24px;
    padding: 9px 0 27px;
    background: url(../../assets/images/booking_path.svg) no-repeat bottom left;
    background-size: 100%;
    color: white;
}
.booking-title strong { color: #834a49}
.booking-title::before, 
.booking-title::after {
    content: "";
    background: url(../../assets/images/hebergement_icones/booking_deco.png);
    display: inline-block !important;
    vertical-align: middle;
    width: 27px;
    height: 5px;
    margin-top: -5px;
}

.booking-title::before {
    margin-right: 24px;
}

.booking-title::after {
    margin-left: 24px;
    text-align: center;
}

.reserve-form {
    display: flex;
    justify-content: space-between;
}

#b_searchCheckInDate,
#b_searchCheckOutDate{
    flex: 1;    
    margin-right: 14px;
}

.reserve-form .fields #date > span,
.reserve-form .fields #trajet > span {
    flex: 1;
    max-width: 48%;
}

.reserve-form .fields label{
    display: block;
    margin: 0;
    font-size: 16px;
}

.reserve-form .fields span i {
   position: absolute;
   right: 10px;
   top: 3px;
}

.reserve-form button{
    width: 84px;
    height: 84px;
    align-self: flex-end;
    border-radius: 10px;
    background-color: #e7bb0b;
    color: white;
    border: none;
    font-size: 30px;
}

.hebergement-page h2 {
    display: inline-block;
    letter-spacing: 4px;
    font-family: 'Amatic-Bold';
    color: #844a49;
    font-size: 30px;
}
.hebergement-page h2::after {
    content: url(../../assets/images/trait_couleur.png);
    margin-top: -18px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

.hebergement-page h3 {
    color: #e7bb0b;
    text-transform: uppercase;  
	font-size: 22px;
    font-weight: bold;
}

.hebergement-page h4 {
    color: #844a49;
    font-size: 20px;
    font-weight: bold;    
}

/* HOTEL DETAIL */
#hotel-review {
    display: flex;
    margin-bottom: 31px;
}
.hotel-infos{
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.hotel-infos .hotel-name {
    font-family: 'Amatic-Bold';
    font-size: 30px;
    letter-spacing: 1.4px;
    padding-right: 14px;
    color: #824e4e;
    line-height: normal;
}
.hotel-infos .stars {
    padding-right: 30px;
}
.hotel-infos .addresse-hotel {
    padding-left: 30px;
    border-left: 1px solid #e1e1e1;
}
#hotel-review .hotel-slide {
    flex: 1px;
    margin-right: 5px;
}
#hotel-review .right {
    background: #f8f8f8;
    flex: 1px;
    border-radius: 5px;
    padding: 15px;
    margin-left: 5px;
    position: relative;
}
#hotel-review .right::after {
    content: "";
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 100%;
    min-height: 17px;
    background: url(../../assets/images/shadow.png) no-repeat left top;
}
#hotel-review .right p {
    line-height: 21px;
    margin: 0 0 6px;
}

#hotel-review .right .option{
    border: 1px solid #814c4c;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

#hotel-review .right i {
    max-width: 40px;
    display: inline-block;
    vertical-align: middle;
}

#hotel-review .right i img {
    width: 100%;
    height: auto;
    display: inline-block;
    vertical-align: middle
}

#hotel-review .right > span {
    font-size: 19px;
    font-weight: bold;
    display: block;
}
#hotel-review .right .temoignages {
    padding: 0;
    margin: 0;
}
#hotel-review .right .temoignages li {
    list-style: none;
    padding: 0;
    font-weight: bold;
    margin-bottom: 5px;
}
#hotel-review .right .temoignages li:last-of-type {
    margin-bottom: 0;
}
#hotel-review .right .temoignages li i{
    color:#6ac259;
    margin-right: 13px;
}

#hotel-review .right .separator {
    display: block;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    margin: 20px 0 16px;
}

#hotel-review .right .round-btn{
    background: #e7bb0b;
    border: none;
    line-height: 35px;
    padding: 0;
    color: white;
    margin: 0 auto;
    max-width: 160px;
    display: block;
}

#hotel-review .right .temoignages li

#hotel-review .slides > li {
    width: 20% !important;
}

.similar-hotels {
    margin-top: 40px;
}
.similar-hotels h2 {
    background: #814c4c;
    color: white;
    font-family: 'dproCondR';
    font-size: 22px;
    display: inline-block;
    padding: 12px 30px;
    margin: 0;
}

.similar-hotels .hotel-list {
    background-color: #f6f6f6;
    padding: 30px 10px;
}
.similar-hotels .hotel-list .item {
    flex: 1;
    min-width: 30%;
    padding:0 10px;
}
.similar-hotels .photo {
    border-radius: 5px;
    overflow: hidden;
    display: block;
    margin-top: 6px;
}
.similar-hotels .hotel-list .title {
    background: white;
    display: block;
    border-radius: 5px;
    text-align: center;
    padding: 20px 15px;
    margin-top: 6px;
    min-height: 92px;
}
.similar-hotels .hotel-list .title > a,
.similar-hotels .hotel-list .title > a:hover,
.similar-hotels .hotel-list .title > a:visited {
    border: none;
    text-decoration: none;
}
.sidebar-temoignage .title{
    border: 1px solid #dba027;
    padding: 4px 0 10px;
    border-radius: 0;
}

.temoignage-item {
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
    padding: 10px;
    margin-top: 20px;
}

.temoignage-item .author {
    display: block;
    text-align: right;
    color: #814c4c;
    font-weight: bold;
}

@media screen and (max-width: 500px) {
    #hotels-list .item {
        min-width: 50%;
    }

    #option-container .option {
        min-width: 48%;
    }

    #avis {
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 24px;
    }

    #avis-table {
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    #hotels-list .item {
        min-width: 100%;
    }
}