#hotels-list {
    display: flex;
    flex-direction: column;
}

#hotels-list .onRow {
    margin-bottom: 24px;
}

#hotels-list .item {
    flex: 1;
    padding: 0 14px;
}

#hotels-list .item > * {
    display: block;
    text-align: center;
}

#hotels-list .item:hover .round-btn {
    color: white;
    background: #824e4e;
}

#hotels-list .item .hotel-photo {
    margin-bottom: 12px;
}

#hotels-list .item:hover .hotel-photo {
    opacity: .75;
    transition: ease-in-out all 300ms;
    -webkit-transition: ease-in-out all 300ms;
    -moz-transition: ease-in-out all 300ms;
    -ms-transition: ease-in-out all 300ms;

}

.hotel_name {
    font-family: "dproCondR";
    font-size: 18px;
    color: #824e4e;
    font-weight: bold;
}

#hotels-list .item p {
    font-size: 16px;
    line-height: 150%;
    color: #353535
}

#hotels-list .item .stars {
    color: #ff9000;
    font-size: 24px;
}

#hotels-list .item > button {
    margin: 0 auto;
}

/* BOOKING TEMPLATE */
.booking-component {
    max-width: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 0px 24px 10px;
}

.booking-title {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    margin: 0;
    font-size: 24px;
}
.booking-title::before, 
.booking-title::after {
    content: "";
    background: url(../../assets/images/hebergement_icones/booking_deco.png);
    display: inline-block;
    vertical-align: middle;
    width: 27px;
    height: 5px;
    margin-top: -5px;
}

.booking-title::before {
    margin-right: 24px;
}

.booking-title::after {
    margin-left: 24px;
    text-align: center;
}

.reserve-form {
    display: flex;
    justify-content: space-between;
}

.reserve-form .fields{
    flex: 1;
    margin-right: 14px;
}

.reserve-form .fields #date,
.reserve-form .fields #trajet  {
    display: flex;
    justify-content: space-between;
}

.reserve-form .fields #date > span,
.reserve-form .fields #trajet > span {
    flex: 1;
    max-width: 48%;
}

.reserve-form .fields label{
    display: block;
    margin: 0;
    font-size: 16px;
}

.reserve-form .fields span i {
   position: absolute;
   right: 10px;
   top: 3px;
}

.reserve-form button{
    width: 84px;
    height: 84px;
    align-self: flex-end;
    border-radius: 10px;
    background-color: #e7bb0b;
    color: white;
    border: none;
    font-size: 30px;
}

/* HOTEL DETAIL */
#option-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#option-container .option {
    display: flex;
    line-height: 36px;
}

#option-container .option.unavailable {
    opacity: 0.4;
}

#option-container .option i {
    margin-right: 14px;
}

#option-container .option p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #824e4e
}

#avis {
    display: flex;
}

#avis-table {
    max-width: 186px;
    margin-right: 100px;
}

#avis-table .barre-avis {
    width: 146px;
    height: 12px;
    display: block;
    position: relative;
    background: #ebebeb;
}

#avis-table .star {
    padding: 0 5px;
    color: #c1c1c1;
}

#avis-table .barre-avis .size{
    height: 12px;
    background: #824e4e;
}

/* Changer avec jQuery pour des données dymamiques */
#avis-table .fiveStars .size{
    width: 85%;
}

#avis-table .fourStars .size{
    width: 70%;
}

#avis-table .threeStars .size{
    width: 40%;
}

#avis-table .twoStars .size{
    width: 20%;
}

#avis-table .oneStar .size{
    width: 0;
}

#avis-note {
    border: 2px solid #824e4e;
    text-align: center;
    color: #824e4e;
    width: 153px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#avis-note .note {
    font-size: 70px;
    display: block;
    margin: 20px 0;
}

@media screen and (max-width: 500px) {
    #hotels-list .item {
        min-width: 50%;
    }

    #option-container .option {
        min-width: 48%;
    }

    #avis {
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 24px;
    }

    #avis-table {
        margin-right: 0;
    }
}

@media screen and (max-width: 420px) {
    #hotels-list .item {
        min-width: 100%;
    }
}